<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="flash">
    <%= flash.notice %>
  </p>
  <%= yield %>
  <hr/>
  <h6>
    <% if logged_in? %>
      <%= "Logged in as #{current_user.email}" %>
      <%= link_to "(logout)", logout_path %>
      <%= link_to "Create new user", new_author_path %>
    <% else %>
      <%= link_to "(login)", login_path %>
    <% end %>
    |
    <%= link_to "All articles", articles_path %>
    |
    <%= link_to "All users", authors_path %>
  </h6>
</body>
</html>
